<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cwCrashPlugin" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that crashes the app</description>
    <license>MIT</license>

    <keywords>cordova,android,crash,message,alert</keywords>
    <repo>https://github.com/charlie-wild/cordovaCrashPlugin</repo>    
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/cwCrashPlugin.js" name="cwCrashPlugin">
        <clobbers target="window.plugins.cwCrashPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="cwCrashPlugin">
                <param name="android-package" value="com.charliwild.cordova.plugin.cwCrashPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/cwCrashPlugin.java" target-dir="src/com/charliwild/cordova/plugin" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cwCrashPlugin">
                <param name="ios-package" value="cwCrashPlugin"/>
            </feature>
            <preference name="deployment-target" value="10.0"/>
        </config-file>

        <!-- must list both header files and source files. As Obj-C is less fussy than Java
            about folder structure, we don't need to give it a target directory. -->
        <header-file src="src/ios/cwCrashPlugin.h" />
        <source-file src="src/ios/cwCrashPlugin.m" />
    </platform>
</plugin>